{
  "plugins": [
    [
      "component",
      {
        "libraryName": "@codepan/kiwi-ui",
        "styleLibrary": {
          "name": "theme-default",
          "base": false
        }
      }
    ]
  ]
}