.color-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
}
.color-wrapper.color-light {
    background: #fff;
}
.color-wrapper.color-stable {
    background: #e8e8e8;
}
.color-wrapper.color-primary {
    background: #2d8cf0;
}
.color-wrapper.color-info {
    background: #50bfff;
}
.color-wrapper.color-success {
    background: #65ccaf;
}
.color-wrapper.color-warning {
    background: #f7ba2a;
}
.color-wrapper.color-danger {
    background: #ff4949;
}
.color-wrapper.color-lively {
    background: #ff7800;
}
.color-wrapper.color-royal {
    background: #8a6de9;
}
.color-wrapper.color-light {
    color: #515a6e;
}
.color-wrapper.color-title {
    background: #17233d;
}
.color-wrapper.color-content {
    background: #515a6e;
}
.color-wrapper.color-disabled {
    background: #c0c4cc;
}
.color-wrapper.color-disabled-bg {
    background: #f5f7fa;
    color: #515a6e;
}
.color-wrapper.color-border {
    background: #dcdee2;
    color: #515a6e;
}
.color-wrapper.color-bg {
    background: #f8f8f8;
    color: #515a6e;
}
.color-wrapper .label {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

